pipeline/Invest pipeline.json
{
	"name": "Invest pipeline",
	"properties": {
		"activities": [
			{
				"name": "Check Master table for Pipelines list for Invest",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select pipeline, PRTY_N from config_table_master\n\t  where FILE_TY_ID =  '@{pipeline().parameters.filetypeid}' order by prty_n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_SQLConfigtableLog",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Check Master table for Pipelines list for Invest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Check Master table for Pipelines list for Invest').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Invest pipelines",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/6f931dc1-9715-4a59-a849-0c049740fa0f/resourceGroups/fmr/providers/Microsoft.DataFactory/factories/srgofid/pipelines/@{item().pipeline}/createRun?api-version=2017-03-01-preview",
									"type": "Expression"
								},
								"method": "POST",
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"filetypeid": {
				"type": "string",
				"defaultValue": "invest"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}